import { Result<%= async %> } from "neverthrow"

export type <%= name %>DTO = Result<%= async %><<%= name %>DTOSuccess, <%= name %>DTOError>

type <%= name %>DTOSuccess = {

};

export type <%= name %>DTOError = {
    type: '<%= underscore(name).toUpperCase() %>_ERROR'
};

