import { to<%= name %>DTO as toDTO, to<%= name %>Entity as toEntity } from './<%= name %>.Conversion';

describe('<%= name %>Conversion', () => {
    xit('should create a DTO', () => {
        expect(toDTO({})).toBeTruthy();
    });

    xit('should create an Entity', () => {
        expect(toEntity({})).toBeTruthy();
    });
});
