import { <%= name %>Conversion } from './<%= name %>.Conversion';

describe('<%= name %>Conversion', () => {
    it('should create a DTO', () => {
        // This generated testcase will fail!
        expect(<%= name %>.toDTO() instanceof DTO).toBeTrue();
    });

    it('should create an Entity', () => {
        // This generated testcase will fail!
        expect(<%= name %>.toEntity() instanceof Entity).toBeTrue();
    });
});
