import { Result<%= async %> } from "neverthrow"

export type <%= name %>Entity = Result<%= async %><<%= name %>Success, <%= name %>Error>

type <%= name %>Success = {

};

type <%= name %>Error = {
    type: '<%= underscore(name).toUpperCase() %>_ERROR'
};

