import { Result<%= async %> } from "neverthrow"

export type <%= name %>Entity = Result<%= async %><<%= name %>EntitySuccess, <%= name %>EntityError>

type <%= name %>EntitySuccess = {

};

export type <%= name %>EntityError = {
    type: '<%= underscore(name).toUpperCase() %>_ERROR'
};

