import { Schema } from 'effect';

export const <%= name %>EntitySchema = Schema.Struct({
    success: Schema.Boolean,
});

export type <%= name %>Entity = Schema.Schema.Type<typeof <%= name %>EntitySchema>;

