import { Injectable } from '@angular/core';

@Injectable({
    providedIn: 'root'
})
export class <%= classify(name) %>UseCase {
    constructor() {}

    public <%= camelize(name) %>UseCase(): void {

    }
}
